<div class="container py-5">
    {% if tutorial_categories %}
        <div class="py-1 pt-3 section-title">
            <h2 class="category-title text-light ms-2">Jangan Lupa Belajar</h2>
        </div>
        <div class="row mt-4">
            <div class="d-flex flex-wrap justify-content-center">
                {% for category in tutorial_categories %}
                <a href="{% url 'tutorial:tutorial_page' category.slug %}">
                    <button class="btn btn-primary me-2 mb-2">
                        {{ category.name }} <i class="bi bi-box-arrow-in-up-right"></i>
                    </button>
                </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p class="text-muted">Belum ada kategori yang tersedia.</p>
    {% endif %}
</div>
