{% extends 'base.html' %}

{% block content %}
<section class="container-fluid welcome-section text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h1 class="display-4 fw-bold mb-4 text-muted py-3">W3Indonesia</h1>
                <hr>
                <p class="lead mb-4">
                    <span class="spinner-grow text-info" role="status"></span>
                    <span class="visually-hidden"></span>
                    W3Indonesia adalah sebuah platform edukasi yang berfokus pada penyediaan materi pembelajaran berbasis teknologi. Platform ini menawarkan berbagai tutorial, kursus, dan sumber daya lainnya untuk membantu para penggunanya, baik pemula maupun profesional, dalam mengembangkan keterampilan mereka di dunia teknologi dan pengembangan perangkat lunak.
                </p>
                <p class="d-sm-inline-flex align-items-center ps-4 py-2 px-3 mb-0 mb-sm-0 rounded-5 masthead-notice">
                    <i class="bi bi-tags-fill text-primary"></i> Belajar gratis tanpa harus bayar-bayar! 
                </p>
            </div>
        </div>
    </div>
</section>

<section class="contact-section text-center mt-5">
    <div class="container">
        <span class="mb-4"></span>
        <p class="mb-3">Hubungi Kami melalui channel di bawah ini:</p>
        
        <div class="mb-3">
            <p><strong>Email:</strong> <a href="mailto:w3indonesiaa@gmail.com">w3indonesiaa@gmail.com</a></p>
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-2">
            <a href="https://facebook.com" class="btn btn-primary mb-2" target="_blank">
                <i class="bi bi-facebook"></i> Facebook
            </a>
            <a href="https://youtube.com" class="btn btn-primary mb-2" target="_blank">
                <i class="bi bi-youtube"></i> YouTube
            </a>
            <a href="https://www.linkedin.com/in/w3indonesia" class="btn btn-info mb-2" target="_blank" style="color: white;">
                <i class="bi bi-linkedin"></i> LinkedIn
            </a>
            <a href="https://www.instagram.com/w3indonesia" class="btn btn-danger mb-2" target="_blank">
                <i class="bi bi-instagram"></i> Instagram
            </a>
        </div>
    </div>
</section>
{% endblock %}
