{% extends 'base.html' %}

{% block content %}
<section class="container-fluid welcome-section text-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-1 fw-bold mb-4 text-muted  py-3">W3Indonesia</h1>
                <hr>
                <p class="lead mb-4"><span class="spinner-grow text-info" role="status"></span><span class="visually-hidden"></span>Perbanyak Membaca, Pahami Konsep, Banyakin Latihan, Kurangi Ngeluh dan Rajin Berdoa.</p>
                <span class="d-sm-inline-flex align-items-center gap-1 py-2 px-3 mb-lg-0 rounded-5 masthead-notice">
                              Belajar gratis tanpa harus bayar-bayar!
                </span>
            </div>
        </div>
    </div>
  </section>

    <div class="position-absolute top-50 start-50 translate-middle text-center">
      <div class="container">
        <span class="mb-4"></span>
        <p class="mb-3">Hubungi Kami melalui channel di bawah ini:</p>

        <div class="mb-3">
          <p><strong>Email:</strong> <a href="mailto:contact@w3indonesia.com">w3indonesiaa@gmail.com</a></p>
        </div>

        <div class="d-flex justify-content-center gap-3">
          <a href="https://facebook.com" class="btn btn-primary" target="_blank">
            <i class="bi bi-facebook"></i> Facebook
          </a>
          <a href="https://youtube.com" class="btn btn-primary" target="_blank">
            <i class="bi bi-youtube"></i> Youtube
          </a>
          <a href="https://www.linkedin.com/in/w3indonesia" class="btn btn-info" target="_blank" style="color: white;">
            <i class="bi bi-linkedin"></i> LinkedIn
          </a>
          <a href="https://www.instagram.com/w3indonesia" class="btn btn-danger" target="_blank">
            <i class="bi bi-instagram"></i> Instagram
          </a>
        </div>
      </div>
    </div>
{% endblock %}